body {
  width: 100vw;
  margin: 0px;
}

h2 {
  color: white;
  background: grey;
  text-align: left;
  padding: 10px;
  margin: 0px;
  background-image: linear-gradient(darkgrey, grey, darkgrey);
  font-size: 20px;
}

header {
  background-color: rgb(222, 222, 222);
}

header h1 {
  display: inline-block;
  margin: 10px;
}

header h3 {
  display: inline-block;
}

.title {
  margin-left: 50vw;
}

main {
  background-image: radial-gradient(rgb(145, 104, 177), rgb(54, 5, 97), rgb(0, 0, 0));
  width: 100vw;
}

.mainimg {
  display: inline-block;
}

.mainimg img {
  width: 36vw;
  height: auto;
  border: 5px solid lightgrey;
  margin: 15px;
}

main .about {
  width: 535px;
  height: auto;
  display: inline-block;
  margin: 15px;
  background: white;
  vertical-align: top;
}

.about p, a {
  padding-left: 10px;
}

.column {
  background-color: white;
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
  width: 295px;
  height: auto;
  vertical-align: top;
  max-height: 675px;
}

.column p {
  height: 170px;
  padding-left: 15px;
  padding-right: 15px;
}

.column input {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 13px;
}

.portfolio {
  height: 200px;
  width: 295px;
}

.languages {
  width: 100px;
  height: auto;
  display: inline-block;
  margin: 10px 0px 0px 10px;
  padding-right: 10px;
  max-width: 30px;
  max-height: 50px;
}

footer {
  margin: 0px;
  text-align: center;
  background-color: rgb(222, 222, 222)
}

footer a {
  color: black;
  font-style: italic;
}

footer img {
  display: inline-block;
  width: 2%;
  height: auto;
}

footer p {
  margin: 0px;
}

.contact {
  padding: 15px 0px;
}

input {
  color: white;
  background-color: green;
  border-radius: 7px;
  box-shadow: 2px 2px 15px 0px rgb(30, 37, 40);
}
