<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href=''>
    <title></title>
</head>

<body>
<h1>Hello {{user.first_name}}! Read about this trip!</h1>
<a href="/dashboard">Dashboard</a>
<a href="/logout">Logout</a>
<p>{{trip.destination}}</p>
<p>Start Date: {{trip.start_date}}</p>
<p>End Date: {{trip.end_date}}</p>
<p>Created On: {{trip.created_at}}</p>
<p>Last Updated: {{trip.updated_at}}</p>
<p>Plan: {{trip.plan}}</p>
<p>Created by: {{trip.planner.first_name}}</p>
</body>

</html>