<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title></title>
  <style>
    .container {
      width: 700px;
    }

    .box {
      width: 100px;
      height: 100px;
      margin: 5px;
      display: inline-block;
      background: {{box_color}};
    }
  </style>
</head>

<body>

  <h1>Welcome!</h1>

  <div class="container">

    {% for i in range(0, boxes)%}
      <div class="box"></div>
    {% endfor %}

  </div>

</body>

</html>
