<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href=''>
    <title></title>
</head>

<body> 
    <h1>User {{id[0]["id"]}}</h1>
    <a href="/users">Home</a>

    <p>Full Name: {{ first_name }}</p>
    <p>Email: {{ email }}</p>
    <p>Created On: {{ created_at }}</p>
    <p>Last Updated On: {{ updated_at }}</p>

    <p><a href="#">Edit </a>|<a href="#"> Delete</a></p>
</body>

</html>