<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entered Quotes</title>
</head>
<body>
    <div class="container">
        <h1>Collection of Quotes</h1>
        <div class="quotes">
           
            <% for (const quote of quotes) {%>
               <h3>"<%= quote.quote %>"</h3>
               <p>-<%= quote.name%> At: <%= quote.createdAt%></p>
                <%}%>
        </div>
    </div>
</body>
</html>