<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href=''>
    <title></title>
</head>

<body>
    <h1>Edit Show {{show.id}}</h1>
    <a href="/shows">Go Back</a>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red">{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/shows/{{show.id}}/update" method="post">
        {% csrf_token %}
        <p>Title</p>
        <input type="text" name="title" value="{{show.title}}">
        <p>Network</p>
        <input type="text" name="network" value="{{show.network}}">
        <p>Release Date</p>
        <input type="date" name="release_date" value="{{show.release_date|date:'Y-m-d'}}">
        <p>Description</p>
        <textarea name="description" cols="30" rows="10">{{show.description}}</textarea>
        <input type="submit" value="Update">
        <a href="/shows/{{show.id}}">Go to Show</a>
    </form>
</body>

</html>