<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href=''>
    <title></title>
</head>

<body>
    {% for user in user_edit %}
    <h1>User {{ user.id }}</h1>
    <a href="/users">Home</a>
    <table>
        <tr>
            <td>Full Name:</td>
            <td>{{ user['first_name'] ~" "~ user['last_name'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user['email'] }}</td>
        </tr>
        <tr>
            <td>Created at:</td>
            <td>{{ user['created_at'] }}</td>
        </tr>
        <tr>
            <td>Last Updated On:</td>
            <td>{{ user['updated_at'] }}</td>
        </tr>
    </table>
    <p><a href='/users/{{ user.id }}/edit'>Edit</a> | <a href='users/{{ user.id }}/delete'>Delete</a></p>
    {% endfor %}
</body>

</html>