<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='static/style.css'>
    <title></title>
</head>

<body>
    <h1>Add a New User</h1>
    <a href="/users">Home</a>
    <form action='/users/create', method='post' name='create_new_user'>
        <p>
            <label for='first_name'>First name:</label><br>
            <input type='text' name='first_name'>
        </p>
        <p>
            <label for='last_name'>Last name:</label><br>
            <input type='text' name='last_name'>
        </p>
        <p>
            <label for='email'>Email:</label><br>
            <input type='text' name='email'>
        </p>
        <p><input type='submit' value='Create'></p>
    </form>


</body>

</html>