<h1>New Task</h1>
<form (submit)="tasks_create()">
  <p>{{ new_task | json }}</p>
  <input type="text" name="new_task.title" [(ngModel)]="new_task.title" placeholder="title" />
  <br>
  <input type="text" name="new_task.description" [(ngModel)]="new_task.description" placeholder="description" />
  <br>
  <input type="submit" value="Create Task" />
</form>

<h1>Task List</h1>

<button (click)="tasks()">Get all tasks</button>

<p *ngIf="task.description">
  {{task.description}}
</p>

<p *ngFor="let i of tasks_all">
  <button (click)="tasks_one( i._id )">Details</button>
  <button (click)="updated_task = i">Update</button>
  <button (click)="tasks_delete( i._id )">Delete</button>
  Task:
  {{i.title}}
</p>

<h1>Edit Task</h1>
<form (submit)="tasks_update( updated_task._id )">
  <p>{{ updated_task | json }}</p>
  <input type="text" name="updated_task.title" [(ngModel)]="updated_task.title" placeholder="title" />
  <br>
  <input type="text" name="updated_task.description" [(ngModel)]="updated_task.description" placeholder="description" />
  <br>
  <input type="submit" value="Save" />
</form>

<br>

<h2>other examples</h2>
<p *ngIf="loggedIn">You are logged in!</p>
<p *ngIf="tasks.length < 5">You need more tasks</p>

<button (click)="onButtonClick()">Click me!</button>
<button (click)="onButtonClickParam( 5 )">Click me!</button>
<button (click)="onButtonClickParams( 5, 'hello')">Click me!</button>
<button (click)="onButtonClickEvent( $event )">Click me!</button>


<h3>Value of num is {{ num }}</h3>
<h3>Value of randNum is: {{ randNum }}</h3>
<h3>{{str}}</h3>
<input type="text" [value]="first_name" />
