<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dojo Survey</title>
</head>

<body>

  <h1>Index Page</h1>
  <h3>Create a User</h3>
      <form action='/result' method='post'>
      Your Name: <input type='text' name='name'><br>
      Dojo Location: <input type='text' name='location'><br>
      Favorite Language: <input type='text' name='language'><br>
      Comment (optional): <textarea rows="10" cols="20" name='comment'></textarea><br>
      <input type='submit' value='create user'>
  </form>

</body>

</html>
