<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dojo Survey</title>
</head>

<body>

  <h1>Show Page</h1>
  <h3>Info Submitted:</h3>
      <p>Name: {{ name_on_template }}</p>
      <p>Location: {{ location_on_template }}</p>
      <p>Language: {{ language_on_template }}</p>
      <p>Comment: {{ comment_on_template }}</p>

</body>

</html>
